$primary-color: #ea732e; // 修改主色调
$border-color: #ddd; // 修改边框颜色
$border-radius: 4px; // 修改默认圆角半径
$search-btn-padding: 5px 10px; // 修改搜索按钮内边距
$search-btn-color: #fff; // 修改搜索按钮文字颜色
$search-btn-bg-color: #ea732e; // 修改搜索按钮背景颜色
$search-btn-hover-bg-color: #c34f1a; // 修改搜索按钮鼠标悬停背景颜色
$search-btn-transition: all 0.3s ease; // 修改搜索按钮过渡效果

