/*products-index*/
.grid-container {
    background-color: #f6f6f6;
    display: grid;
    min-height: 100vh;
    /*分成两列*/
    grid-template-columns: 25% 75%;
    grid-template-areas: 'filter products';
}

.filter {
    grid-area: filter;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 5px;
}

.filter {
    padding: 20px;
    border: 1px solid #ccc;
}

.filter-title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.filter-title span {
    font-size: 16px;
    font-weight: 700;
}

.supplier-type-item,
.condition-item,
.range-of-price-item {
    margin-bottom: 20px;
}


/* Set the font-weight of category text to bold */
.filter .supplier-type span,
.filter .condition span,
.filter .range-of-price span {
    font-size: 14px;
    font-weight: bold;
}

/* Set the font-size of label text to smaller and color to #ddd */
.filter label {
    font-size: smaller;
    color: #919191;
    font-weight: 500;
}

/* Add spacing between category and label */
.filter .supplier-type span,
.filter .condition span,
.filter .range-of-price span {
    margin-bottom: 2px;
}

/* 定制range滑块 */
/* 拉过的颜色为橙色 */
/* 未拉过的颜色为灰色 */
/* 滑块有白色边框 */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
    outline: none;
}

/* 用于Webkit浏览器 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #FFA500;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: -6px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
}

input[type="range"]::-webkit-progress-value {
    background-color: #FFA500;
    border-radius: 4px;
}

/* 用于Mozilla Firefox浏览器 */
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #FFA500;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: -6px;
}

input[type="range"]::-moz-range-track {
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
}

input[type="range"]::-moz-range-progress {
    background-color: #FFA500;
    border-radius: 4px;
}

/* 用于IE浏览器 */
input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #FFA500;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: -6px;
}

input[type="range"]::-ms-track {
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background-color: #FFA500;
    border-radius: 4px;
}

.range-of-price-item .range-box {
    display: flex;
    /*    垂直*/
    flex-direction: column;
    /*    水平*/
    /*    flex-direction: row;*/
}

.range-of-price-item .range-box .min-max {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.input-of-price {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}


.input-price-item {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /* background: #f5f5f5; */
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.input-price-item .money-symbol {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-right: 5px;
    /* border: 1px solid #e5e5e5; */
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px 15px;
}

.input-price-item input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 0 5px;
}

.input-price-item input::placeholder {
    /* color: #000; */
    font-weight: 500;
    font-size: 14px;
}

.under-price input {
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.under-price:nth-last-child(1) input {
    border-bottom-right-radius: 10px;
}

.under-price input::placeholder {
    font-weight: 500;
    font-size: 14px;
}


.products {
    grid-area: products;
    margin: 20px;
    border-radius: 5px;
    display: grid;
    /*分3行，前两行等高，最后一行用来显示商品，占比较多*/
    grid-template-rows: 0.1fr 0.1fr 3fr;
    grid-template-areas: 'search-result' 'category' 'products';
}

.search-result {
    grid-area: search-result;
    padding: 10px;
    font-weight: 500;
    /*font-weight: 500;*/
}

.category {
    grid-area: category;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-item {
    /*margin: 5px;*/
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    /*垂直居中*/
    display: flex;
    gap: 10px;
    /*两端对齐*/
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.category-item a {
    text-decoration: none;
    color: #000;
}

@media (max-width: 768px) {
    .products-item-wrapper {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    /*    小屏不显示filter*/
    .filter {
        display: none;
    }
}

/* 在较大的屏幕上，以网格的形式展示商品 */
@media (min-width: 769px) {
    .products-item-wrapper {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
}

/*    商品card*/
.product-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /*padding-bottom: 10px;*/
    /*width: 100%;*/
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
    /* padding: 10px; */
    width: 200px;
    height: 263px;
}

.product-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-item .price {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #f24b4b;
    /* margin-bottom: 5px; */
}

.product-item .description {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; /* 设置元素为垂直方向排列 */
    text-overflow: ellipsis;
}

.product-item .sold {
    padding: 0 10px;
    /*font-size: 14px;*/
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: space-around; */
    align-items: center;
}

.product-item .sold .star {
    padding: 2px 10px;
    border-radius: 15px;
    background-color: #f5c242;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.product-item .sold .buy {
    /*    自己贴右 */
    margin-left: auto; /*自己贴右*/
}

.product-item .sold .buy {
    padding: 3px 8px;
    border: none;
    border-radius: 15px;
    background-color: #f24b4b;
    color: white;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item .sold .buy:hover {
    background-color: #f24b4b;
    color: white;
}
